.topnav, .topnav li{
    margin: 0px;
    padding: 0px;
}
.topnav a {
    display : block;
    margin : 0;
    padding : 5px 5px;
    color : #aaa9ab;
    text-decoration : none;
}
.topnav a:hover {
    color : #222222;
}

.topnav li > ul {
    display : none;
    margin : 0 0 0 6px;
    padding : 0;
    list-style : none;
}
.topnav li:hover > ul {
    display : block;
}
.topnav li.has-children:hover > ul {
    display : block;
}
.topnav, .topnav ul, .topnav ul li {
    margin : 0px;
    padding : 0px;
    border : 0;
    list-style : none;
    line-height : 1;
    display : block;
    position : relative;
    box-sizing : border-box;
}

.topnav ul ul {
    display : none;
}
.align-right {
    float : right;
}
.topnav > ul > li > a {
    padding : 15px 20px;
    cursor : pointer;
    z-index : 2;
    font-size : 14px;
    font-weight : bold;
    text-decoration : none;
    color : #333;
}
.topnav > ul > li > a:hover, .topnav > ul > li.active > a, .topnav > ul > li.open > a {
    color : #222;
}
.topnav > ul > li.open > a {
    box-shadow : 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
}
.holder {
    width : 0;
    height : 0;
    position : absolute;
    top : 0;
    right : 0;
}
.holder::after, .holder::before {
    display : block;
    position : absolute;
    content : "";
    width : 6px;
    height : 6px;
    right : 20px;
    z-index : 10;
    transform : rotate(-135deg);
}
.holder::after {
    top : 17px;
    border-top : 2px solid #ffffff;
    border-left : 2px solid #ffffff;
}
.topnav > ul > li > a:hover > span::after, .topnav > ul > li.active > a > span::after, .topnav > ul > li.open > a > span::after {
    border-color : #eeeeee;
}
.holder::before {
    top : 18px;
    border-top : 2px solid;
    border-left : 2px solid;
    border-top-color : inherit;
    border-left-color : inherit;
}
.topnav ul ul li a {
    cursor : pointer;
    border-bottom : 1px solid #32373e;
    border-left : 1px solid #32373e;
    border-right : 1px solid #32373e;
    padding : 10px 20px;
    z-index : 1;
    text-decoration : none;
    font-size : 13px;
    color : #eeeeee;
    background : #49505a;
    box-shadow : 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
.topnav ul ul li:hover > a, .topnav ul ul li.open > a, .topnav ul ul li.active > a {
    background : #424852;
    color : #ffffff;
}
.topnav ul ul li:first-child > a {
    box-shadow : none;
}
.topnav ul ul ul li:first-child > a {
    box-shadow : 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
.topnav ul ul ul li a {
    padding-left : 30px;
}
.topnav > ul > li > ul > li:last-child > a, .topnav > ul > li > ul > li.last > a {
    border-bottom : 0;
}
.topnav > ul > li > ul > li.open:last-child > a, .topnav > ul > li > ul > li.last.open > a {
    border-bottom : 1px solid #32373e;
}
.topnav > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom : 0;
}
.topnav ul ul li.has-sub > a::after {
    display : block;
    position : absolute;
    content : "";
    width : 5px;
    height : 5px;
    right : 20px;
    z-index : 10;
    top : 11.5px;
    border-top : 2px solid #eeeeee;
    border-left : 2px solid #eeeeee;
    transform : rotate(-135deg);
}
.topnav ul ul li.active > a::after, .topnav ul ul li.open > a::after, .topnav ul ul li > a:hover::after {
    border-color : #ffffff;
}
.topnav {
    font-family : 'proximanova-regular';
    display : block;
    list-style : none;
    position : relative;
    vertical-align : middle;
    text-transform : uppercase;
    border : none;
    background : #fff;
    font-size : 10px;
    margin : 10px 0;
    padding : 0;
}
.iconMenu {
    display : none;
}

.topnav ul ul, .topnav ul ul ul, .topnav ul ul ul ul, .topnav ul ul ul ul ul {
    border : none;
    padding-top : 0;
}
.topnav ul ul a, .topnav ul ul ul a, .topnav ul ul ul ul a, .topnav ul ul ul ul ul a {
    color : #222222;
}
.topnav ul ul a {
    padding-left : 40px;
    background-position : 30px center;
}
.topnav ul ul ul a {
    padding-left : 50px;
    background-position : 40px center;
}
.topnav ul ul ul ul a {
    padding-left : 60px;
    background-position : 50px center;
}
.topnav ul ul ul ul ul a {
    padding-left : 70px;
    background-position : 60px center;
}
.topnav a.current, .topnav a:hover {
    color : #222222;
}
.topnav li.category {
    color : #222222;
}
.topnav li.category:hover {
    color : #222222;
}
.topnav li.category a {
    font-size : 13px;
    overflow : hidden;
}
.topnav li.page {
    color : #222222;
}
.topnav li.page:hover {
    color : #222222;
}
.topnav li.page a {
    padding : 5px 15px;
    border-bottom : 1px solid #ccc;
    border-top : 1px solid #fff;
}
.topnav span.arrow {
    display : block;
    position : absolute;
    top : 0;
    right : 0;
    width : 30px;
    height : 30px;
    z-index : 3;
}
.topnav span.arrow:hover {
    cursor : s-resize;
}



@media only screen and (max-width:768px) {
    .topnav{
        position: relative;
        top: 0px;  
        left: 0px;
    }
    .iconMenu{
        width: 100%;
        display: block;
    }
    .iconMenu a span{
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media only screen and (max-width:768px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive li {
        float: none;
        display: inline;
    }
    .topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
.menu{
    font-family: 'proximanova-light';
    margin:  0px;
    padding: 0px;
    text-transform: uppercase;
}
.menu ul {
    margin:  0px;
    padding: 0px;
    list-style-type : none;

}
.menu > li {
    margin:  0px;
    padding: 0px;
    vertical-align : middle;
    display : block;
}
.menu.simple li {
    line-height : 1;
    display : block;
}
.menu.expanded {
    width : 100%;
    display : table;
    table-layout : fixed;
}
.menu.icon-top > li > a i, .menu.icon-top > li > a img, .menu.icon-top > li > a svg {
    display : block;
    margin : 0 auto;
}
.menu .active > a {
    color : #aaa9ab;

}
.menu-text {
    font-weight : bold;
    color : inherit;
    line-height : 1;
    padding-top : 0;
    padding-bottom : 0;
}
.menu-icon {
    position : relative;
    display : block;
    vertical-align : middle;    
    width : 20px;
    height : 16px;
}
.menu-icon:after {
    content : '';
    position : absolute;
    display : block;
    width : 100%;
    height : 2px;
    background : #aaa9ab;
    top : 0;
    left : 0;
}
.menu-icon:hover:after {
    background : #cacaca;
}
menu-fixed {
    position : fixed;
    left : 0;
    top : 0;
    z-index : 3;
}
menu-list {
    list-style : none;
    margin : 0;
    padding : 0;
}
menu-item {
    height : 100%;
    margin : 0;
    padding : 0;
}
menu-link, menu-heading {
    display : block;
    text-decoration : none;
    white-space : nowrap;
}
menu-horizontal {
    width : 100%;
    white-space : nowrap;
}
menu-children {
    display : none;
    position : absolute;
    left : 100%;
    top : 0;
    z-index : 3;
    background-color : #fff;
    margin : 0;
    padding : 0;
}
menu-horizontal menu-children {
    left : 0;
    top : auto;
    width : inherit;
}
menu-allow-hover:hover > menu-children, menu-active > menu-children {
    display : block;
    position : absolute;
}
menu-has-children > menu-link:after {
    padding-left : 0.5em;
    content : "\25B8";
    font-size : small;
}
menu-horizontal menu-has-children > menu-link:after {
    content : "\25BE";
}
menu-horizontalmenu-scrollable {
    white-space : nowrap;
    padding : 0.5em 0;
}
menu-separator {
    background-color : #ccc;
    height : 1px;
    margin : 0.3em 0;
}
menu-horizontal menu-separator {
    width : 1px;
    height : 1.3em;
    margin : 0 0.3em;
}
menu-heading {
    text-transform : uppercase;
    color : #aaa9ab;
}
menu-link {
    color : #aaa9ab;
}
menu-active > menu-link, menu-link:hover, menu-link:focus {
    background-color : #eee;
}
menu-selected menu-link, menu-selected menu-link:visited {
    color : #000;
}
